  <div class="container-fluid">
      <div class="row">
          <nav class="navbar-expand-lg navbar-light">
              <a class="navbar-brand" href="#"></a>
                <div class="navbar-collapse">
                  <div id="navbar"> 
                    <div class="row">
                        <div class="col"></div>
                        <div class="col"></div>
                        <div class="col"></div>
                        <div class="col"></div>
                        <div class="col"></div>
                        <div class="col"></div>
                        <div class="col"></div>
                        <div class="col headertopmarg">
                            <img id="myImg" align="center" src="./assets/7classeslogo.jpg" alt="Cinque Terre" width="124" height="124">
                        </div>
                    </div>
                    <div class="row" id="navbarTogglerDemo01">
                        <div class="col" style="margin-top:-20px;margin-left: 10px;">
                          <a href="#"><img id="logoimg" id="myImg1" align="right" src="./assets/7classeslogo.jpg" alt="Cinque Terre" width="0" height="0"></a>
                        </div>
                        <div class="col"></div>
                        
                        <div class="navmenutext" class="col"><a routerLink="" onclick="topFunction1()">Home</a></div>
                        <div class="navmenutext1" class="col"><a routerLink="/flagship-program" onclick="topFunction()">Flagship Program</a></div>
                        <div style="margin-left:100px;" class="navmenutext1" class="col"><a routerLink="/courses" onclick="topFunction()">Courses</a></div>
                        <!-- <div class="navmenutext" class="col"><a href="#OurTeam" onclick="myFunction()">OurTeam</a></div> -->
                        <div class="navmenutext1" class="col"><a routerLink="/contactus" onclick="topFunction()">Contact Us</a></div>
                    </div>   
                  </div>
                </div>
          </nav>
      </div>
    </div>
