<div class="text-block">
  <h1 class="bannertext">Only 7 Students In One Batch</h1>
  <p align="center" class="paragraphText">Because Success need Personal Attention</p>
  <p class="paragraphText1">An Initiative by IIT, NIT and Super30 Alumni</p>
  <hr class="ll">
  <button align="center" type="button" class="butt1 buttonText"  onclick="openForm()">Enroll Now</button><br><br>
  <!-- Start Model-->
  <div class="form-popup" id="myForm">
    <form  class="form-container">
        <div class="container">
            <div class="row">
                <div class="col-sm-11 ttttest"> 
                    <h3 align="center" class="popupformTitle">We Will Connect You Soon! </h3>
                </div>
                <div class="col-sm-1" class="mobiletoppadding1">
                    <a style="margin-right:-50px;" href="javascript:void(0)" class="closebtn" onclick="closeForm()">&times;</a>
  
                </div>
            </div>
          </div>
        
      <div class="container">
        <div class="row">
        <h3 align="center" class="popup">We Will Connect You Soon! </h3>
        <div class="col-sm-6">         
          <input id="name" type="student" class="form-control" placeholder="Full Name" name="std">
          <input type="contact" class="form-control" placeholder="Mobile Id" name="cot">
          <input type="email" id="email" class="form-control" placeholder="Email ID" name="email">
        </div>
        <div class="col-sm-6">
          <label for="comment"></label>
          <textarea style="margin-top:-15px;" class="form-control" rows="6" id="comment">Message</textarea>
          <!--<button type="button" class="btn btn-primary" class="sendTextBoxbutt formbutton" onclick="closeForm()" >Send</button>-->
          <button type="button" class="btn btn-primary" class="closeTextBoxbutt closeformbutton" onclick="closeForm()">Send</button>
        </div>
      </div>
    </div>
    </form>
  </div>
  <!-- End Model -->
  
  <button align="center" type="button" class="butt2 buttonText" onclick="omyTest()">Seats Available</button>
  <!--  Start seat avl -->
  <div class="form-popup divscroll" id="myTest">
    <form  class="form-container1">
        <div class="mobiletoppadding">
            <a href="javascript:void(0)" class="closebtn" onclick="cmyTest()">&times;</a>
        </div>
      <h3 style="color: #34ADEE;" align="center" class="popupformTitleseat">Foundation Courses (2019-20)</h3>
      <div class="container">
        <div class="row">
          <!-- Start popup Tab -->
          <div class="container">
              <!-- Nav tabs -->
              <ul class="nav nav-tabs">
                <li class="nav-item" class="powaiTextBoxbutt">
                  <a class="nav-link" data-toggle="tab" href="#Powai">Powai</a>
                </li>
                <li class="nav-item" class="HerapanaTextBoxbutt">
                  <a class="nav-link" data-toggle="tab" href="#Heerapanna">HEERA PANNA</a>
                </li>
              </ul>
            
            <!-- Tab panes -->
            <div>
              <div class="tab-content">
                <div id="Powai" class="container tab-pane active"><br><br>
                  <!-- Start Rows-->
                  <div class="container" class="mobmarginleft">
                      <div class="row">
                          <div class="col-sm-3">
                          <p class="mobmarginleft1">JEE (Board+JEE)</p>
                          </div>
                          <div class="col-sm-6" class="seatTextBoxbutt">
                           <a routerLink="/model" class="seatdiv1" onclick="subomyTest()">11th</a>
        <!-- ************************************* Start 11th ****************************************** -->
                <app-model></app-model>
  
        <!-- ***************************** End 11th *******************************************  -->
                           <a routerLink="/model" class="seatdiv2" onclick="subomyTest()">12th</a>
        <!-- ************************************* Start 12th ****************************************** -->
 
    
        <!-- ***************************** End 12th *******************************************  -->                         
                           <a routerLink="/model" class="seatdiv3" onclick="subomyTest()">13th</a>
        <!-- ************************************* Start 13th ****************************************** -->
               
    
        <!-- ***************************** End 13th *******************************************  -->
                          </div>
                          <div class="col-sm-3">             
                          </div>
                       </div>
                    </div>
                    <br>
                    <hr class="mbhozLine">
                    <div class="container" class="mobmarginleft">
                        <div class="row">
                            <div class="col-sm-3">
                            <p class="mobmarginleft1">JEE (Main+Advance)</p>
                            </div>
                            <div class="col-sm-6" class="seatTextBoxbutt">
                                <a class="seatdiv1" routerLink="/model" onclick="subomyTest()">11th</a>
        <!-- ************************************* Start 11th JEE (Main+Advance) ****************************************** -->
               
    
        <!-- ***************************** End 11th JEE (Main+Advance)*******************************************  -->
                                <a class="seatdiv2" routerLink="/model" onclick="subomyTest()">12th</a>
        <!-- ************************************* Start 12th JEE (Main+Advance) ****************************************** -->
                           
    
        <!-- ***************************** End 12th JEE (Main+Advance)*******************************************  -->
                                <a class="seatdiv3" routerLink="/model" onclick="subomyTest()">13th</a>
        <!-- ************************************* Start 13th JEE (Main+Advance) ****************************************** -->
                     
    
        <!-- ***************************** End 13th JEE (Main+Advance)*******************************************  -->
                            </div>
                            <div class="col-sm-3">             
                            </div>
                         </div>
                      </div>
                      <br>
                      <hr class="mbhozLine">
                      <div class="container" class="mobmarginleft">
                          <div class="row">
                              <div class="col-sm-3">
                              <p class="mobmarginleft1">CBSE</p>
                              </div>
                              <div class="col-sm-6" class="seatTextBoxbutt">
                                  <a class="seatdiv1" routerLink="/model" onclick="subomyTest()">4th</a>
        <!-- ************************************* Start 4th CBSC ****************************************** -->
                           
    
        <!-- ***************************** End 4th CBSC*******************************************  -->
                                  <a class="seatdiv2" routerLink="/model" onclick="subomyTest()">5th</a>
        <!-- ************************************* Start 5th CBSC ****************************************** -->
            
    
        <!-- ***************************** End 5th CBSC*******************************************  -->
                                  <a class="seatdiv3" routerLink="/model" onclick="subomyTest()">6th</a>
        <!-- ************************************* Start 6th CBSC ****************************************** -->
                          
    
        <!-- ***************************** End 6th CBSC*******************************************  -->
                              </div>
                              <div class="col-sm-3">             
                              </div>
                           </div>
                        </div>
                        <div class="container" class="mobmarginleft">
                            <div class="row">
                                <div class="col-sm-3">
                                <p></p>
                                </div>
                                <div class="col-sm-6" class="seatTextBoxbutt">
                                    <a class="seatdiv1" routerLink="/model" onclick="subomyTest()">7th</a>
        <!-- ************************************* Start 7th CBSC ****************************************** -->
                       
    
        <!-- ***************************** End 7th CBSC*******************************************  -->
                                    <a class="seatdiv2" routerLink="/model" onclick="subomyTest()">8th</a>
        <!-- ************************************* Start 8th CBSC ****************************************** -->
                           
    
        <!-- ***************************** End 8th CBSC*******************************************  -->
                                    <a class="seatdiv3" routerLink="/model" onclick="subomyTest()">9th</a>
        <!-- ************************************* Start 9th CBSC ****************************************** -->
                       
    
        <!-- ***************************** End 9th CBSC*******************************************  -->
                                </div>
                                <div class="col-sm-3">             
                                </div>
                             </div>
                        </div>
                        <div class="container" class="mobmarginleft">
                            <div class="row">
                                <div class="col-sm-3">
                                <p></p>
                                </div>
                                <div class="col-sm-6" class="seatTextBoxbutt">
                                    <a class="seatdiv1" routerLink="/model" onclick="subomyTest()">10th</a>
        <!-- ************************************* Start 9th CBSC ****************************************** -->
                   
  
    
        <!-- ***************************** End 9th CBSC*******************************************  -->
                                    <a class="seatdiv2" routerLink="/model" onclick="subomyTest()">11th</a>
  <!-- ************************************* Start 9th CBSC ****************************************** -->
                          
    
          <!-- ***************************** End 9th CBSC*******************************************  -->
                                    <a class="seatdiv3" routerLink="/model" onclick="subomyTest()">12th</a>
  <!-- ************************************* Start 9th CBSC ****************************************** -->
                   
    
          <!-- ***************************** End 9th CBSC*******************************************  -->
                                </div>
                                <div class="col-sm-3">             
                                </div>
                             </div>
                        </div>
                        <br>
                        <hr class="mbhozLine">
                        <div class="container" class="mobmarginleft">
                            <div class="row">
                                <div class="col-sm-3">
                                <p class="mobmarginleft1">SSC</p>
                                </div>
                                <div class="col-sm-6" class="seatTextBoxbutt">
                                    <a class="seatdiv1" routerLink="/model" onclick="subomyTest()">4th</a>
  <!-- ************************************* Start 9th CBSC ****************************************** -->
                
    
          <!-- ***************************** End 9th CBSC*******************************************  -->
                                    <a class="seatdiv2" routerLink="/model" onclick="subomyTest()">5th</a>
  <!-- ************************************* Start 9th CBSC ****************************************** -->
                  
    
          <!-- ***************************** End 9th CBSC*******************************************  -->
                                    <a class="seatdiv3" routerLink="/model" onclick="subomyTest()">6th</a>
  <!-- ************************************* Start 9th CBSC ****************************************** -->
                      
    
          <!-- ***************************** End 9th CBSC*******************************************  -->
                                </div>
                                <div class="col-sm-3">             
                                </div>
                             </div>
                        </div>
                        <div class="container" class="mobmarginleft">
                            <div class="row">
                                <div class="col-sm-3">
                                <p></p>
                                </div>
                                <div class="col-sm-6" class="seatTextBoxbutt">
                                    <a class="seatdiv1" routerLink="/model" onclick="subomyTest()">7th</a>
  <!-- ************************************* Start 9th CBSC ****************************************** -->
                       
    
          <!-- ***************************** End 9th CBSC*******************************************  -->
                                    <a class="seatdiv2" routerLink="/model" onclick="subomyTest()">8th</a>
  <!-- ************************************* Start 9th CBSC ****************************************** -->
                          
    
          <!-- ***************************** End 9th CBSC*******************************************  -->
                                    <a class="seatdiv3" routerLink="/model" onclick="subomyTest()">9th</a>
  <!-- ************************************* Start 9th CBSC ****************************************** -->
                           
    
          <!-- ***************************** End 9th CBSC*******************************************  -->
                                </div>
                                <div class="col-sm-3">             
                                </div>
                             </div>
                        </div>
                        <div class="container" class="mobmarginleft">
                            <div class="row">
                                <div class="col-sm-3">
                                <p></p>
                                </div>
                                <div class="col-sm-6" class="seatTextBoxbutt">
                                    <a class="seatdiv1" routerLink="/model" onclick="subomyTest()">10th</a>
  <!-- ************************************* Start 9th CBSC ****************************************** -->
                       
    
          <!-- ***************************** End 9th CBSC*******************************************  -->
                                    <a class="seatdiv2" routerLink="/model" onclick="subomyTest()">11th</a>
  <!-- ************************************* Start 9th CBSC ****************************************** -->
                           
    
          <!-- ***************************** End 9th CBSC*******************************************  -->
                                    <a class="seatdiv3" routerLink="/model" onclick="subomyTest()">12th</a>
  <!-- ************************************* Start 9th CBSC ****************************************** -->
                         
    
          <!-- ***************************** End 9th CBSC*******************************************  -->
                                </div>
                                <div class="col-sm-3">             
                                </div>
                             </div>
                        </div>
                        <br>
                        <hr class="mbhozLine">
                        <div class="container" class="mobmarginleft">
                            <div class="row">
                                <div class="col-sm-3">
                                <p class="mobmarginleft1">ICSE+ISC</p>
                                </div>
                                <div class="col-sm-6" class="seatTextBoxbutt">
                                    <a class="seatdiv1" routerLink="/model" onclick="subomyTest()">4th</a>
  <!-- ************************************* Start 9th CBSC ****************************************** -->
                           
    
          <!-- ***************************** End 9th CBSC*******************************************  -->
                                    <a class="seatdiv2" routerLink="/model" onclick="subomyTest()">5th</a>
  <!-- ************************************* Start 9th CBSC ****************************************** -->
                          
    
          <!-- ***************************** End 9th CBSC*******************************************  -->
                                    <a class="seatdiv3" routerLink="/model" onclick="subomyTest()">6th</a>
  <!-- ************************************* Start 9th CBSC ****************************************** -->
                           
    
          <!-- ***************************** End 9th CBSC*******************************************  -->
                                </div>
                                <div class="col-sm-3">             
                                </div>
                             </div>
                        </div>
                        <div class="container" class="mobmarginleft">
                            <div class="row">
                                <div class="col-sm-3">
                                <p></p>
                                </div>
                                <div class="col-sm-6" class="seatTextBoxbutt">
                                    <a class="seatdiv1" routerLink="/model" onclick="subomyTest()">7th</a>
  <!-- ************************************* Start 9th CBSC ****************************************** -->
                           
    
          <!-- ***************************** End 9th CBSC*******************************************  -->
                                    <a class="seatdiv2" routerLink="/model" onclick="subomyTest()">8th</a>
  <!-- ************************************* Start 9th CBSC ****************************************** -->
                          
    
          <!-- ***************************** End 9th CBSC*******************************************  -->
                                    <a class="seatdiv3" routerLink="/model" onclick="subomyTest()">9th</a>
  <!-- ************************************* Start 9th CBSC ****************************************** -->
                        
    
          <!-- ***************************** End 9th CBSC*******************************************  -->
                                </div>
                                <div class="col-sm-3">             
                                </div>
                             </div>
                        </div>
                        <div class="container" class="mobmarginleft">
                            <div class="row">
                                <div class="col-sm-3">
                                <p></p>
                                </div>
                                <div class="col-sm-6" class="seatTextBoxbutt">
                                    <a class="seatdiv1" routerLink="/model" onclick="subomyTest()">10th</a>
  <!-- ************************************* Start 9th CBSC ****************************************** -->
                          
    
          <!-- ***************************** End 9th CBSC*******************************************  -->
                                    <a class="seatdiv2" routerLink="/model" onclick="subomyTest()">11th</a>
  <!-- ************************************* Start 9th CBSC ****************************************** -->
                       
    
          <!-- ***************************** End 9th CBSC*******************************************  -->
                                    <a class="seatdiv3" routerLink="/model" onclick="subomyTest()">12th</a>
  <!-- ************************************* Start 9th CBSC ****************************************** -->
                       
    
          <!-- ***************************** End 9th CBSC*******************************************  -->
                                </div>
                                <div class="col-sm-3">             
                                </div>
                             </div>
                        </div>
                        <br>
                        <hr class="mbhozLine">
                        <div class="container" class="mobmarginleft">
                            <div class="row">
                                <div class="col-sm-3">
                                <p class="mobmarginleft1">IGCSE</p>
                                </div>
                                <div class="col-sm-6" class="seatTextBoxbutt">
                                    <a class="seatdiv1" routerLink="/model" onclick="subomyTest()">4th</a>
  <!-- ************************************* Start 9th CBSC ****************************************** -->
                            
    
          <!-- ***************************** End 9th CBSC*******************************************  -->
                                    <a class="seatdiv2" routerLink="/model" onclick="subomyTest()">5th</a>
  <!-- ************************************* Start 9th CBSC ****************************************** -->
                            
    
          <!-- ***************************** End 9th CBSC*******************************************  -->
                                    <a class="seatdiv3" routerLink="/model" onclick="subomyTest()">6th</a>
  <!-- ************************************* Start 9th CBSC ****************************************** -->
                            
    
          <!-- ***************************** End 9th CBSC*******************************************  -->
                                </div>
                                <div class="col-sm-3">             
                                </div>
                             </div>
                        </div>
                        <div class="container" class="mobmarginleft">
                            <div class="row">
                                <div class="col-sm-3">
                                <p></p>
                                </div>
                                <div class="col-sm-6" class="seatTextBoxbutt">
                                    <a class="seatdiv1" routerLink="/model" onclick="subomyTest()">7th</a>
  <!-- ************************************* Start 9th CBSC ****************************************** -->
                          
    
          <!-- ***************************** End 9th CBSC*******************************************  -->
                                    <a class="seatdiv2" routerLink="/model" onclick="subomyTest()">8th</a>
  <!-- ************************************* Start 9th CBSC ****************************************** -->
                          
    
          <!-- ***************************** End 9th CBSC*******************************************  -->
                                    <a class="seatdiv3" routerLink="/model" onclick="subomyTest()">9th</a>
  <!-- ************************************* Start 9th CBSC ****************************************** -->
                           
    
          <!-- ***************************** End 9th CBSC*******************************************  -->
                                </div>
                                <div class="col-sm-3">             
                                </div>
                             </div>
                        </div>
                        <div class="container" class="mobmarginleft">
                            <div class="row">
                                <div class="col-sm-3">
                                <p></p>
                                </div>
                                <div class="col-sm-6" class="seatTextBoxbutt">
                                    <a class="seatdiv1" routerLink="/model" onclick="subomyTest()">10th</a>
  <!-- ************************************* Start 9th CBSC ****************************************** -->
                         
    
          <!-- ***************************** End 9th CBSC*******************************************  -->
                                    <a class="seatdiv2" routerLink="/model" onclick="subomyTest()">11th</a>
  <!-- ************************************* Start 9th CBSC ****************************************** -->
                          
    
          <!-- ***************************** End 9th CBSC*******************************************  -->
                                    <a class="seatdiv3" routerLink="/model" onclick="subomyTest()">12th</a>
  <!-- ************************************* Start 9th CBSC ****************************************** -->
                   
    
          <!-- ***************************** End 9th CBSC*******************************************  -->
                                </div>
                                <div class="col-sm-3">             
                                </div>
                             </div>
                        </div>
                    <!-- End Rows-->
  
                </div>
                <div id="Heerapanna" class="container tab-pane fade"><br>
                  <div class="container" class="mobmarginleft">
                      <div class="row">
                          <div class="col-sm-3">
                             <p class="mobmarginleft1">JEE (Board+JEE)</p>
                          </div>
                          <div class="col-sm-6" class="seatTextBoxbutt">
                              <a class="seatdiv1" routerLink="/model1" onclick="subomyTestt()">11th</a>
  <!-- ************************************* Start 9th CBSC ****************************************** -->
                      <app-model1></app-model1>
                            
          <!-- ***************************** End 9th CBSC*******************************************  -->
                              <a class="seatdiv2" routerLink="/model1" onclick="subomyTestt()">12th</a>
  <!-- ************************************* Start 9th CBSC ****************************************** -->
                            
    
          <!-- ***************************** End 9th CBSC*******************************************  -->
                              <a class="seatdiv3" routerLink="/model1" onclick="subomyTestt()">13th</a>
  <!-- ************************************* Start 9th CBSC ****************************************** -->
                    
    
          <!-- ***************************** End 9th CBSC*******************************************  -->
                          </div>
                          <div class="col-sm-3">            
                          </div>
                       </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
          <button type="button" class="btn btn-primary" class="seatcloseTextBoxbutt closeformbutton" onclick="cmyTest()">close</button>
          <!-- End Courses Tab -->
          <!-- End popup Tab -->
        </div>
      </div>
    </form>
  </div>
  <!-- End Seat avl -->
  </div>
