<div id="myNav" class="overlay">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <div class="overlay-content">
    <a routerLink="" onclick="closeNav()">Home</a>
    <a routerLink="/flagship-program" onclick="closeNav()">Flagship Program</a>
    <a routerLink="/courses" onclick="closeNav()">Courses</a>
    <!-- <a href="#OurTeam" onclick="closeNav()">OurTeam</a> -->
    <a routerLink="/contactus" onclick="closeNav()">Contact Us</a>
  </div>
</div>

<div class="mobilenav">
  <span class="mbheaderbutton" onclick="openNav()">&#9776;</span>
</div>
