<!-- ************************************* Start 9th CBSC ****************************************** -->
                          <!--  Start seat avl -->
                          <div class="form-popup divscroll" id="smyTestt">
                            <form  class="form-container1">
                                <div class="mobiletoppadding2">
                                    <a href="javascript:void(0)" class="closebtn" onclick="subcmyTestt()">&times;</a>
                                </div>
                              <h3 align="center" class="popupformTitleshow seatTitle">Foundation Courses (2019-20)</h3>
                              <div class="container">
                                <div class="row">
                                  <!-- Start popup Tab -->
                                  <div class="container">
                                      <!-- Nav tabs -->
                                      <ul class="nav nav-tabs">
                                        <li class="nav-item" class="powaiTextBoxbutt1">
                                          <a class="nav-link" data-toggle="tab" href="#Powai1">Powai</a>
                                        </li>
                                        <li class="nav-item" class="HerapanaTextBoxbutt1">
                                          <a class="nav-link" data-toggle="tab" href="#Heerapanna1">HEERA PANNA</a>
                                        </li>
                                      </ul>
                                    
                                    <!-- Tab panes -->
                                    <div>
                                      <div class="tab-content">
                                        <div id="Powai1" class="container tab-pane active"><br><br>
                                          <!-- Start Rows-->
                                          <div class="container" class="mobmarginleft">
                                              <div class="row">
                                                <h3 class="stdtitle mobileseat2" style="margin-top:-40px;">IGCSE</h3>
                                                <hr class="mbhozLine1">
                                                  <div class="col-sm-12" class="stdrow">
                                                    <a class="mbrow3" href="#">4th</a>
                                                    <a class="mbrow2" href="#">5th</a>
                                                    <a class="mbrow2" href="#">6th</a>
                                                    <a class="mbrow2" href="#">7th</a>
                                                    <a class="mbrow2" href="#">8th</a>
                                                    <a class="mbrow2" href="#">9th</a>
                                                    <a class="mbrow2" href="#">10th</a>
                                                    <a class="mbrow2" href="#">11th</a>
                                                    <a class="mbrow2" href="#">12th</a>
                                                    <a class="mbrow2" href="#">13th</a>
                                                  </div>
                                                  <hr class="mbhozLine1">
                                              </div>
                                            </div>
                                            <div class="container" class="mobmarginleft">
                                                <div class="row">
                                                    <div class="col-sm-2" class="mobileseat1">
                                                    <p>2:PM</p>
                                                    </div>
                                                    <div class="col-sm-7" class="mobileseat">
                                                        <img src="./assets/seat.svg" alt="Cinque Terre" class="mbrow mbrow4">
                                                        <img src="./assets/seat.svg" alt="Cinque Terre" class="mbrow mbrow2">
                                                        <img src="./assets/seat.svg" alt="Cinque Terre" class="mbrow mbrow2">
                                                        <img src="./assets/seat.svg" alt="Cinque Terre" class="mbrow mbrow2">
                                                        <img src="./assets/seat.svg" alt="Cinque Terre" class="mbrow mbrow2">
                                                        <img src="./assets/seat.svg" alt="Cinque Terre" class="mbrow mbrow2">
                                                        <img src="./assets/seat.svg" alt="Cinque Terre" class="mbrow mbrow2">
                                                    </div>
                                                    <div class="col-sm-3">             
                                                    </div>
                                                 </div>
                                            </div>
                                            <br>
                                            <div class="container" class="mobmarginleft">
                                                <div class="row">
                                                    <div class="col-sm-2" class="mobileseat1">
                                                    <p>3:PM</p>
                                                    </div>
                                                    <div class="col-sm-7" class="mobileseat">
                                                        <img src="./assets/seat.svg" alt="Cinque Terre" class="mbrow mbrow4">
                                                        <img src="./assets/seat.svg" alt="Cinque Terre" class="mbrow mbrow2">
                                                        <img src="./assets/seat.svg" alt="Cinque Terre" class="mbrow mbrow2">
                                                        <img src="./assets/seat.svg" alt="Cinque Terre" class="mbrow mbrow2">
                                                        <img src="./assets/seat.svg" alt="Cinque Terre" class="mbrow mbrow2">
                                                        <img src="./assets/seat.svg" alt="Cinque Terre" class="mbrow mbrow2">
                                                        <img src="./assets/seat.svg" alt="Cinque Terre" class="mbrow mbrow2">
                                                    </div>
                                                    <div class="col-sm-3">             
                                                    </div>
                                                 </div>
                                            </div>
                                            <br>
                                            <div class="container" class="mobmarginleft">
                                              <div class="row">
                                                  <div class="col-sm-2" class="mobileseat1">
                                                  <p>4:PM</p>
                                                  </div>
                                                  <div class="col-sm-7" class="mobileseat">
                                                      <img src="./assets/seat.svg" alt="Cinque Terre" class="mbrow mbrow4">
                                                      <img src="./assets/seat.svg" alt="Cinque Terre" class="mbrow mbrow2">
                                                      <img src="./assets/seat.svg" alt="Cinque Terre" class="mbrow mbrow2">
                                                      <img src="./assets/seat.svg" alt="Cinque Terre" class="mbrow mbrow2">
                                                      <img src="./assets/seat.svg" alt="Cinque Terre" class="mbrow mbrow2">
                                                      <img src="./assets/seat.svg" alt="Cinque Terre" class="mbrow mbrow2">
                                                      <img src="./assets/seat.svg" alt="Cinque Terre" class="mbrow mbrow2">
                                                  </div>
                                                  <div class="col-sm-3">             
                                                  </div>
                                               </div>
                                          </div>
                                            <!-- End Rows-->
                        
                                        </div>
                                        <div id="Heerapanna1" class="container tab-pane fade"><br>
                                          <div class="container" class="mobmarginleft">
                                            <div class="row">
                                              <h3 class="stdtitle mobileseat2" style="margin-top:-40px;">IGCSE</h3>
                                              <hr class="mbhozLine1">
                                                <div class="col-sm-12" class="stdrow">
                                                  <a class="mbrow3" href="#">4th</a>
                                                  <a class="mbrow2" href="#">5th</a>
                                                  <a class="mbrow2" href="#">6th</a>
                                                  <a class="mbrow2" href="#">7th</a>
                                                  <a class="mbrow2" href="#">8th</a>
                                                  <a class="mbrow2" href="#">9th</a>
                                                  <a class="mbrow2" href="#">10th</a>
                                                  <a class="mbrow2" href="#">11th</a>
                                                  <a class="mbrow2" href="#">12th</a>
                                                  <a class="mbrow2" href="#">13th</a>
                                                </div>
                                                <hr class="mbhozLine1">
                                            </div>
                                          </div>
                                          <div class="container" class="mobmarginleft">
                                              <div class="row">
                                                  <div class="col-sm-2" class="mobileseat1">
                                                  <p>2:PM</p>
                                                  </div>
                                                  <div class="col-sm-7" class="mobileseat">
                                                      <img src="./assets/seat.svg" alt="Cinque Terre" class="mbrow mbrow4">
                                                      <img src="./assets/seat.svg" alt="Cinque Terre" class="mbrow mbrow2">
                                                      <img src="./assets/seat.svg" alt="Cinque Terre" class="mbrow mbrow2">
                                                      <img src="./assets/seat.svg" alt="Cinque Terre" class="mbrow mbrow2">
                                                      <img src="./assets/seat.svg" alt="Cinque Terre" class="mbrow mbrow2">
                                                      <img src="./assets/seat.svg" alt="Cinque Terre" class="mbrow mbrow2">
                                                      <img src="./assets/seat.svg" alt="Cinque Terre" class="mbrow mbrow2">
                                                  </div>
                                                  <div class="col-sm-3">             
                                                  </div>
                                               </div>
                                          </div>
                                          <br>
                                          <div class="container" class="mobmarginleft">
                                              <div class="row">
                                                  <div class="col-sm-2" class="mobileseat1">
                                                  <p>2:PM</p>
                                                  </div>
                                                  <div class="col-sm-7" class="mobileseat">
                                                      <img src="./assets/seat.svg" alt="Cinque Terre" class="mbrow mbrow4">
                                                      <img src="./assets/seat.svg" alt="Cinque Terre" class="mbrow mbrow2">
                                                      <img src="./assets/seat.svg" alt="Cinque Terre" class="mbrow mbrow2">
                                                      <img src="./assets/seat.svg" alt="Cinque Terre" class="mbrow mbrow2">
                                                      <img src="./assets/seat.svg" alt="Cinque Terre" class="mbrow mbrow2">
                                                      <img src="./assets/seat.svg" alt="Cinque Terre" class="mbrow mbrow2">
                                                      <img src="./assets/seat.svg" alt="Cinque Terre" class="mbrow mbrow2">
                                                  </div>
                                                  <div class="col-sm-3">             
                                                  </div>
                                               </div>
                                          </div>
                                          <br>
                                          <div class="container" class="mobmarginleft">
                                            <div class="row">
                                                <div class="col-sm-2" class="mobileseat1">
                                                <p>5:PM</p>
                                                </div>
                                                <div class="col-sm-7" class="mobileseat">
                                                    <img src="./assets/seat.svg" alt="Cinque Terre" class="mbrow mbrow4">
                                                    <img src="./assets/seat.svg" alt="Cinque Terre" class="mbrow mbrow2">
                                                    <img src="./assets/seat.svg" alt="Cinque Terre" class="mbrow mbrow2">
                                                    <img src="./assets/seat.svg" alt="Cinque Terre" class="mbrow mbrow2">
                                                    <img src="./assets/seat.svg" alt="Cinque Terre" class="mbrow mbrow2">
                                                    <img src="./assets/seat.svg" alt="Cinque Terre" class="mbrow mbrow2">
                                                    <img src="./assets/seat.svg" alt="Cinque Terre" class="mbrow mbrow2">
                                                </div>
                                                <div class="col-sm-3">             
                                                </div>
                                             </div>
                                        </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <button type="button" class="btn btn-primary" class="seatcloseTextBoxbutt1 closeformbutton" onclick="subcmyTestt()">Enroll</button>
                                  <!-- End Courses Tab -->
                                  <!-- End popup Tab -->
                                </div>
                              </div>
                            </form>
                          </div>
                          <!-- End Seat avl -->

      <!-- ***************************** End 9th CBSC*******************************************  -->