<!-- Start Courses Tab -->
<div class="container topmargin" id="Courses">
  <h1 id="Courses1" class="headertitletext">COURSES</h1>
  <h4 class="headertitletext">Foundation Courses</h4>
  <!-- Nav tabs -->
  <ul class="nav nav-tabs">
    <li class="nav-item" class="courseTextBoxbutt">
      <a class="nav-link" data-toggle="tab" href="#CBSE">CBSE</a>
    </li>
    <li class="nav-item" class="courseTextBoxbutt">
      <a class="nav-link" data-toggle="tab" href="#ICSE">ICSE</a>
    </li>
    <li class="nav-item" class="courseTextBoxbutt">
        <a class="nav-link" data-toggle="tab" href="#HSC">HSC</a>
      </li>
      <li class="nav-item" class="courseTextBoxbutt">
        <a class="nav-link" data-toggle="tab" href="#IGCSE">IGCSE</a>
      </li>
  </ul>

<!-- Tab panes -->
<div>
  <div class="tab-content">
    <div id="CBSE" class="container tab-pane active"><br><br>
      <div align="center">
          <img src="./assets/images/20170528202850!Cbse-logo.png" width="220px" height="250px" alt="Cinque Terre">
      </div>
     <div class="coursebck">
       <h5 style="margin-left:20px;margin-right:20px; margin-top:80px; padding-top:40px;" align="center">CBSE is one of the most preferred boards in the country and the reasons are many. CBSE is behind
          maintaining uniformity among all the students across India by prescribing NCERT books. The best
          feature of this board is they have a wholesome syllabus and well-structured examinations.</h5>
        <img src="./assets/images/Path_10.png" width="100%" height="200px" alt="Cinque Terre">
        <img class="courseimg" src="./assets/images/Path_9.png" width="100%" height="200px" alt="Cinque Terre">
     </div>
    </div>
    <div id="ICSE" class="container tab-pane fade"><br>
      <div align="center">
          <img src="./assets/images/icse-png.png" width="260px" height="250px" alt="Cinque Terre">
      </div>
     <div class="coursebck">
       <h5 style="margin-left:20px;margin-right:20px; margin-top:80px; padding-top:40px;" align="center">
          The ICSE board is governed by the ICSE Council. The Council was mainly set up to assure the
          adoption of its examinations into the educational system of India.CISCE balances with an equal
          focus on language, arts, and science. The board syllabi cover all the fields in various subjects with
          equal importance.</h5>
        <img src="./assets/images/Path_10.png" width="100%" height="200px" alt="Cinque Terre">
        <img class="courseimg" src="./assets/images/Path_9.png" width="100%" height="200px" alt="Cinque Terre">
     </div>
    </div>
    <div id="HSC" class="container tab-pane fade"><br>
      <div align="center">
          <img src="./assets/images/ssc-pune-logo.png" width="260px" height="250px" alt="Cinque Terre">
      </div>
     <div class="coursebck">
       <h5 style="margin-left:20px;margin-right:20px; margin-top:80px; padding-top:40px;" align="center">
          Secondary School Certificate, commonly known as SSC, is a public examination taken by students
          in Maharashtra, Madhya Pradesh, Gujarat, Andhra Pradesh and Goa in India, Bangladesh, and
          Pakistan, after successfully completing at least ten years of schooling. It is followed by the Higher
          Secondary (School) Certificate (HSC). SSC is an equivalent to GCSE in England.</h5>
        <img src="./assets/images/Path_10.png" width="100%" height="200px" alt="Cinque Terre">
        <img class="courseimg" src="./assets/images/Path_9.png" width="100%" height="200px" alt="Cinque Terre">
     </div>
    </div>
    <div id="IGCSE" class="container tab-pane fade"><br>
      <div align="center">
          <img src="./assets/images/Cambridge_Assessment_logo.png" width="260px" height="250px" alt="Cinque Terre">
      </div>
     <div class="coursebck">
       <h5 style="margin-left:20px;margin-right:20px; margin-top:80px; padding-top:40px;" align="center">
          Developed by Cambridge International Examination (CIE) in 1988, IGCSE is a very popular English
          language curriculum. The focus of the IGCSE curriculum is to offer a wide range of options to
          learners with different types of abilities, including students whose first language is not English.</h5>
        <img src="./assets/images/Path_10.png" width="100%" height="200px" alt="Cinque Terre">
        <img class="courseimg" src="./assets/images/Path_9.png" width="100%" height="200px" alt="Cinque Terre">
     </div>
    </div>
  </div>
</div>
</div>
<!-- End Courses Tab -->
<app-advance-courses></app-advance-courses>
<!-- <app-our-team></app-our-team> -->
