<div class="container" id="Flagship">
  <div id="example2" class="row" style="background-image:url('./assets/flag.png')">
    <hr class="extline">
    <div class="col-sm-12" class="bannertopmrg" id="FlagshipProgram1">
      <h1 class="headertitletext">Flagship Program</h1>
      <hr>
      <h3 class="mediaumText">A revolutionising method created with the aim of ensuring maximum productivity 
        and the best practice of student capabilities synergising teacher and student efforts.
      </h3>
      <hr class="extline">
    </div>
    <div class="col-sm-4"  style="padding-left:60px; padding-right:60px;">
      <h1 class="numberSize">2</h1>
      <h3 class="titletext">Test/Assessment</h3>
      <p class="ptext">With regular test and assessments
                  conducted in each subject, the students'
                  performance is kept under observation
                  so as to determine the need for greater
                  attention or practice.
      </p>
    </div>
    <div class="col-sm-4" style="padding-left:60px; padding-right:60px;">
      <h1 class="numberSize">4</h1>
      <h3 class="titletext">Lecture</h3>
      <p class="ptext">Lectures are conducted at the institution
                  following the goal of providing individual
                  attention to every student using our 7: 1
                  Student-Teacher Ration.
      </p>
    </div>
    <div class="col-sm-4"  style="padding-left:60px; padding-right:60px;">
      <h1 class="numberSize">1</h1>
      <h3 class="titletext">One to One Teaching</h3>
      <p class="ptext">The last part of our flagship model includes a
                  slot reserve for one to one teaching where
                  students are encourage to ask questions
                  related to the lecture and/or subject.
      </p>
    </div>
  </div>
  <!-- <hr class="line1"> -->
  </div>
  <app-ultra-bit-program></app-ultra-bit-program>
  <app-test-series></app-test-series>