<app-mobile-menu></app-mobile-menu>

<app-header></app-header>

<app-education-opportunity-small></app-education-opportunity-small>


<app-model-block></app-model-block>



<div class="main-content">
    <router-outlet></router-outlet>
</div>


<!-- <app-flagship-program></app-flagship-program> -->

<!-- <app-ultra-bit-program></app-ultra-bit-program> -->

<!-- <div class="container" id="FlagshipProgram"> -->

<!-- <app-test-series></app-test-series> -->


<!-- <app-courses></app-courses> -->

<!-- <app-advance-courses></app-advance-courses> -->

<!-- <app-our-team></app-our-team> -->

<!-- <app-contactus></app-contactus> -->

<!-- </div> -->

<!-- <app-map-location></app-map-location> -->

<!-- Start footer  --> 
<app-footer></app-footer> 
<!-- End footer  -->  

