<!-- Show Hide or Toggle Elements in Angular 5 and 4 -->


<div *ngIf="show_dialog">
  <div style="padding-left: 50px;">
    <div>
        <div>Email - <input  id="email" type="text" name="txtEmail" /></div>
    </div>
    <div>
          <div>Password - <input id="txtPasword" type="password" name="password" /></div>
    </div>
    <div>
        <label>About you (optional)-</label>
        <div><textarea rows="4" cols="50"></textarea></div>
    </div>
    <div>
      <div><button id="btAddLogin" class="btn btn-info btn-lg" >Add</button>
      </div>
  </div>
  </div>
</div>
<button (click)="toggle()" id="btToggle" class="btn btn-info btn-lg" >{{button_name}}</button>
