<div class="container topmargin">
        <div  id="ContactUs1">
            <h1 id="ContactUs" class="headertitletext">CONTACT US</h1>
          </div>
          <hr class="extline">
          <div class="jumbotron jambo">
          </div>
    <div class="row" style="padding-left:40px; padding-right:40px; margin-top: -240px;">
      <div class="col-sm-4">
        <h3 align="center" class="formTitle">Send Us a Message</h3>
        <div class="form-group mrg1" id="formContent">
          <!--<input id="name" type="student" class="form-control" [(ngModel)]="studentName" placeholder="Full Name" name="std">-->
          <input id="name" type="student" class="form-control" placeholder="Full Name" name="std">
        </div>
        <div class="form-group mrg2">
          <!--<input type="contact" class="form-control" [(ngModel)]="studentAge"  placeholder="Mobile Id" name="cot">-->
          <input type="contact" class="form-control" placeholder="Mobile Id" name="cot">
        </div>
        <div class="form-group mrg2">
          <!--<input type="email" class="form-control" id="email" [(ngModel)]="studentAddress" placeholder="Email ID" name="email">-->
          <input type="email" id="email" class="form-control" placeholder="Email ID" name="email">
        </div>
      </div>
      <div class="col-sm-1">
      </div>
      <div class="col-sm-7">
        <div class="form-group mrg" style="padding-bottom: 40px;">
          <label for="comment"></label>
          <textarea class="form-control" rows="10" id="comment">Message</textarea>
          <!--<button type="button" (click)="CreateRecord()" [disabled]="!studentName || !studentAge || !studentAddress" class="TextBoxbutt formbutton">Send</button>-->
          <button type="button" class="btn btn-primary" class="TextBoxbutt formbutton">Send</button>
        </div>
      </div>
    </div>
<!-- <app-map-location></app-map-location> -->