<div class="row" id="example7" style="background-image:url('./assets/brain.png');">
  <div class="col-sm-12">
    <h1 class="headertitletext">Counselling</h1>
    <hr class="extline">
    <h3 class="mediaumText">Even in difficult times, you must learn to trust yourself...</h3>
    <hr>
  </div>
  <div class="col-sm-5">
    <img src="./assets/book.png" class="ebook" alt="Cinque Terre">
    <h1 class="title">Education Counselling</h1>
    <hr class="extline">
    <h3 class="stitletext">Career Counselling</h3>
    <hr class="line11">
    <p class="ptext ptext1">Educational Counselling helps inform students about the various options they
      have in the future in according with their skills and area of interest.</p>
    <h3 class="stitletext">Memory Building</h3>
    <hr class="line11">
    <p class="ptext ptext1">Through Simple mental exercises and home routines.</p>
  </div>
  <div class="col-sm-2">
  </div>
  <div class="col-sm-5">
    <img src="./assets/heart.png" class="ebook" alt="Cinque Terre">
    <h1 class="title">Behavioural Counselling</h1>
    <hr class="extline">
    <h3 class="stitletext">Stress Management</h3>
    <hr class="line11">
    <p class="ptext ptext1">Observing a positive student study environment is top priority at the institution.</p>
    <h3 class="stitletext">Habit Formation</h3>
    <hr class="line11">
    <p class="ptext ptext1">Right study habits from tender ages makes students stand out from their peers.</p>
  </div>
</div>
